<!-- Shared site footer: injected into every page by assets/js/includes.js.
     Edit here once instead of in all three pages. -->

<div class="bottom-section">
	<div class="flex-container-2">
		<div class="join-our-team-section flex-child">
			<a href="JoinUs.html#join-us-header" class="link-color">
				<h3 class="italic-header">JOIN OUR TEAM!</h3>
			</a>
			<p class="bottom-section-text">Northeastern University students are welcome to join, no experience necessary!</p>
		</div>

		<div class="flex-child">
			<div class="icon-div">
				<a target="_blank" rel="noreferrer noopener" class="icon icon-link-color"
					href="https://www.instagram.com/neudragonliondance/">
					<img src="assets/img/brand/instagram-icon.png" width="60" height="60" alt="Instagram">
				</a>

				<a target="_blank" rel="noreferrer noopener" class="icon icon-link-color"
					href="https://www.facebook.com/NEUDragonLionDance">
					<img src="assets/img/brand/facebook-icon.png" width="63" height="63" alt="Facebook">
				</a>

				<a target="_blank" rel="noreferrer noopener" class="icon icon-link-color"
					href="https://www.youtube.com/@neudragonliondance">
					<img src="assets/img/brand/youtube-icon.png" width="66" height="66" alt="YouTube">
				</a>

				<a class="icon icon-link-color" href="mailto:neu.dragondance@gmail.com">
					<img src="assets/img/brand/mail-icon.png" width="66" height="66" alt="Email">
				</a>
			</div>

			<div class="email">
				<p><a class="link-color" href="mailto:neu.dragondance@gmail.com">neu.dragondance@gmail.com</a></p>
			</div>
		</div>
	</div>

	<div class="bottom-credits-section">
		<p class="credits">Ⓒ NEU Dragon &amp; Lion Dance 2024 | Hosted on
			<a target="_blank" rel="noreferrer noopener" class="serena-ng"
				href="https://github.com/NEUDragonDance/NEUDragonLionDance">GitHub</a> | Built by
			<a target="_blank" rel="noreferrer noopener" class="serena-ng" href="https://www.serenang.com/">Serena Ng</a>
		</p>
	</div>
</div>
